{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <h1>Transaction index</h1>

<a href="{{ path('transaction_new')}}"> Creer une transaction</a>

<ul>
{% for transaction in transactions %}
    <li>
        {{ transaction.date|date ('d/m/Y') }} - {{ transaction.amount }} 
        -Catégories: 
        {% for cat in transaction.categories %}
            {{cat.name}} {% if not loop.last %}, {% endif%}
        {% endfor%}
        <a href="{{ path('transaction_show', {'id':transaction.id})}}"Voir</a>
        <a href="{{ path('transaction_edit', {'id':transaction.id})}}"Modifié</a>
        <a href="{{ path('transaction_delete', {'id':transaction.id})}}"Supprimer</a>

    </li>

    {%else%}
        <li> Aucune transaction trouvée. </li>
    {%endfor%}
    </ul>
    {% endblock %}
